# Dependencies
node_modules
npm-debug.log

# Build output
.next
out
build
dist

# Docker files
Dockerfile
.dockerignore
docker-compose.yml

# Environment variables (Security)
.env
.env.local
.env.*

# Git & System
.git
.gitignore
.DS_Store

# IDE
.vscode
.idea